$buttonColor: hsl(180, 66%, 49%);
$containerColor: hsl(257, 27%, 26%);
$errorColor: hsl(0, 87%, 67%);
$apiColor: hsl(0, 0%, 75%);
$textColor: hsl(257, 7%, 63%);
$headingColor: hsl(255, 11%, 22%);
$footerColor: hsl(260, 8%, 14%);
$whiteColor: hsl(0, 0%, 100%);
$fontSize: 18px;
$fontFamily: 'Poppins', sans-serif;
$fontWeight1: 500;
$fontWeight2: 700;