@import './palette.scss';

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main
{
    background-color: $whiteColor;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    .navbar
    {
        width: 100%;
        .navbar-container
        {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            padding: 30px 20px 30px;
            width: 375px;
            #hamburger-icon-open
            {
                color: $textColor;
                display: block;
                font-size: 25px;
                &:hover
                {
                    cursor: pointer;
                }
            }
            #hamburger-icon-close
            {
                color: $textColor;
                display: none;
                font-size: 25px;
                &:hover
                {
                    cursor: pointer;
                }
            }
        }
    }
    .hero-container
    {
        text-align: center;
        margin-bottom: 125px;
        position: relative; 
        width: 100%;
        .mobile-container
        {
            background-color: $containerColor;
            border-radius: 10px;
            display: none;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            padding: 0px 25px 25px;
            width: 350px;
            #nav-link
            {
                color: $whiteColor;
                cursor: pointer;
                font-family: $fontFamily;
                font-size: 1rem;
                font-weight: $fontWeight2;
                padding-top: 25px;
            }
            #nav-line
            {
                margin-top: 20px;
            }
            #login
            {
                cursor: pointer;
                color: $whiteColor;
                font-family: $fontFamily;
                font-size: 1rem;
                font-weight: $fontWeight2;
                padding-top: 20px;
            }
            #signup-button
            {
                color: $whiteColor;
                cursor: pointer;
                background-color: $buttonColor;
                border: none;
                border-radius: 20px;
                font-family: $fontFamily;
                font-size: 1rem;
                font-weight: $fontWeight2;
                margin-top: 25px;
                padding: 10px 0px;
                width: 100%;
            }
        }
        #hero-image
        {
            display: block;
            position: relative;
            left: 25px;
            margin-left: auto;
            margin-right: auto;
            height: 300px;
            width: 450px;
        }
        #hero-heading
        {
            font-size: 2rem;
            padding: 0px 25px;
        }
        #hero-body
        {
            font-size: $fontSize;
            margin-top: 10px;
            padding: 0px 25px;
        }
    }
    .advanced-stats
    {
        background-color: $apiColor;
        position: relative;
        text-align: center;
        width: 100%;
        .api-container
        {
            align-items: center;
            background-color: $containerColor;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            position: relative;
            top: -70px;
            width: 350px;
            .url-input-container
            {
                align-items: center;
                background-color: $whiteColor;
                border-radius: 5px;
                display: flex;
                padding: 5px;
                height: 40px;
                width: 100%;
                .url-input
                {
                    border: none;
                    color: $textColor;
                    font-family: $fontFamily;
                    padding-left: 10px;
                    outline: none;
                    &::placeholder
                    {
                        color: $textColor;
                    }
                }
            }
        }
        #stats-heading
        {
            font-size: 1.75rem;
        }
        #stats-body
        {
            font-size: $fontSize;
            margin-top: 10px;
        }
        .stat-container
        {
            background-color: $whiteColor;
            border-radius: 5px;
            height: 275px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            text-align: center;
            width: 350px;
            .image-container
            {
                align-items: center;
                background-color: $containerColor;
                border-radius: 50%;
                display: flex;
                height: fit-content;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                padding: 20px 20px;
                position: relative;
                top: -35px;
                width: fit-content;
            }
            #stat-heading
            {
                font-size: 1.5rem;
            }
            #stat-body
            {
                font-size: $fontSize;
                margin-top: 20px;
            }
        }
    }
    .announcement
    {
        background-color: $containerColor;
        padding-bottom: 50px;
        padding-top: 50px;
        text-align: center;
        width: 100%;
        #announcement-heading
        {
            color: $whiteColor;
            font-size: 1.5rem;
        }
    }
    .footer
    {
        background-color: $footerColor;
        color: $whiteColor;
        text-align: center;
        padding: 50px 0px;
        width: 100%;
        .logo
        {
            margin-bottom: 10px;
        }
        .footer-list
        {
            font-family: $fontFamily;
            font-size: $fontSize;
            font-weight: $fontWeight2;
            margin-top: 25px;
            .footer-item
            {
                cursor: pointer;
                font-size: 14px;
                font-weight: $fontWeight1 ;
                margin-top: 5px;
            }
            #item-1
            {
                margin-top: 15px !important;
            }
        }
        .icon-container
        {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            width: fit-content;
            i
            {
                color: $whiteColor;
                padding: 0px 10px;
                font-size: 25px;
            }
        }
    }
}

.heading
{
    color: $headingColor;
    display:block;
    font-family: $fontFamily;
    font-weight: $fontWeight2;
}

.body
{
    color: $textColor;
    display: block;
    font-family: $fontFamily;
    font-weight: $fontWeight1;
}

#get-started-button
{
    background-color: $buttonColor;
    border: none;
    border-radius: 20px;
    color: $whiteColor;
    cursor: pointer;
    display: block;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 60px;
}

#shorten-button
{
    background-color: $buttonColor;
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    cursor: pointer;
    display: block;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 40px;
    width: 100%;
}

.line
{
    background-color: $buttonColor;
    display: inline-block;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 10px;
}

#container-2
{
    position: relative;
    top: -25px;
}

#line-2
{
    top: -25px;
}

#container-3
{
    top: -50px;
}

.url-container
{
    align-items: center;
    background-color: $whiteColor;
    border-radius: 5px;
    display: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 25px;
    padding: 10px 20px;
    width: 350px;
    #link
    {
        color: black;
        font-size: 10px;
    }
    .url-flex-container
    {
        align-items: center;
        display: flex;
        justify-content: center;
        #copy-button
        {
            background-color: $buttonColor;
            border: none;
            border-radius: 5px;
            color: $whiteColor;
            cursor: pointer;
            font-family: $fontFamily;
            font-weight: $fontWeight1;
            padding: 5px 20px;
        }
        #short-link
        {
            color: $buttonColor;
            font-size: 10px;
            margin-right: 10px;
        }
    }
}

#error
{
    align-self: flex-start;
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-weight: $fontWeight1;
}